# Logistic regression in Python.

In [1]:
# logistic regression in python
# loading data
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

data = pd.read_csv('ex2data1.txt')
print(data.shape)
data.head()

(100, 3)

       exam1      exam2  label
0  34.623660  78.024693      0
1  30.286711  43.894998      0
2  35.847409  72.902198      0
3  60.182599  86.308552      1
4  79.032736  75.344376      1

In [2]:
# getting the scores and the label
exam_1 = data['exam1'].values
exam_2 = data['exam2'].values
label = data['label'].values

In [3]:
# feature normalising function
def feature_norm(feature):
    # returns normed features
    mean_feature = np.mean(feature)
    std_feature = np.std(feature)
    feature_norm = (feature - mean_feature)/(std_feature)
    
    return feature_norm,mean_feature,std_feature

In [4]:
# feature normalising the input
exam_1_n,mu_1,sigma_1 = feature_norm(exam_1)
exam_2_n,mu_2,sigma_2 = feature_norm(exam_2)

In [6]:
m = len(exam_1_n)
x0 = np.ones(m)
X = np.array([x0, exam_1_n, exam_2_n]).T
theta = np.array([0.0001, 0.0001, 0.0001])
Y = np.array(label)

In [14]:
# def cost function for logistic
from scipy.special import expit 
def cost_function(theta):
    m = len(Y)
    one = np.ones(m)
    hypo = expit(X.dot(theta)) # applies sigmoid function to hypo for linear
    J = np.sum((-Y.T.dot(np.log(hypo)) -(one - Y).T.dot(np.log(one - hypo))))/(m) # vectorised implementation
    return J

In [18]:
# setting up an optimser using nelder mead method
from scipy.optimize import minimize
res = minimize(cost_function,theta, method='nelder-mead',options={'xtol': 1e-8, 'disp': True})
theta_new = res.x
print(res.x) # the final value of the parameters for logistic regression.

Optimization terminated successfully.
         Current function value: 0.203498
         Iterations: 259
         Function evaluations: 478
[1.7184495  3.99278761 3.7251365 ]